:root {
  --azul: #002147;
  --laranja: #FF6F00;
  --branco: #ffffff;
  --cinza: #fffbf6;
  --cinza-escuro: #5e5e5e;
}

main {
  padding: 40px 0px;
  max-width: 1200px;
  margin: auto;
  background-color: var(--cinza);
}


section {
  margin-bottom: 60px;
}


h1 {
  font-size: 36px;
  color: var(--laranja);
  margin-bottom: 30px;
  line-height: 1.3;
}


.txt-1 {
  color: black;
  padding: 0 10px;
}


.txt-1 p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 16px;
}


.section-flex img {
  display: block;
  margin: 20px auto;
  max-width: 90%;
  width: 500px;
  height: auto;
  border-radius: 10px;
}


@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }

  .txt-1 {
    padding: 10px;
  }

  .section-flex img {
    width: 100%;
    max-width: 100%;
  }
}