:root {
  --azul: #002147;
  --laranja: #FF6F00;
  --branco: #ffffff;
  --cinza: #fffbf6;
  --cinza-escuro: #5e5e5e;
}

main {
  padding: 40px 0;
  max-width: 1200px;
  margin: auto;
  background-color: var(--cinza);
}

section.corpo-1 {
  margin-bottom: 60px;
}

.titulo {
  font-size: 32px;
  color: var(--laranja);
  margin-bottom: 10px;
  line-height: 1.4;
  text-align: left;
}

.subtitulo {
  font-size: 16px;
  color: var(--cinza-escuro);
  font-style: italic;
  margin-bottom: 30px;
  text-align: left;
}

.section-flex {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}


.img-box {
  max-width: 500px;
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.nome,
.instituicao {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
  color: black;
}


.txt-1 {
  flex: 2;
  color: black;
}

.txt-1 p {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 16px;
}


@media (max-width: 768px) {
  .section-flex {
    flex-direction: column;
  }

  .img-box,
  .txt-1 {
    width: 100%;
  }

  .titulo {
    font-size: 24px;
    text-align: center;
  }

  .subtitulo {
    text-align: center;
    font-size: 14px;
  }

  .txt-1 {
    padding: 0 10px;
  }
}
